<%
var prices = constants.prices,
    prototypes = constants.prototypes;

%>

<section class="section scrollspy" id="price">
    <div class="container">
        <div class="row center">
            <div class="col s12">
                <h2 class="black-text">قیمت‌ها</h2>
            </div>
        </div>
        <div class="prices row direction-rtl">
          <% for(var i = 0; i < prices.length; i++){ %>
            <div class="col s10 m8 l4">
              <div class="<%= prices[i].style %> price-table">
                <a class="btn btn-o order-btn-<%= i + 1 %>" href="/profile">سفارش</a>
                <div class="price-content">
                  <div class="insta-grad-overlay"></div>
                  <div class="insta-grad">
                    <h2 class="center white-text"><%= prototypes._convertDigitsToPersian(prices[i].amount.toString()).toLocaleString('ar-EG') %> <span>تومان</span></h2>
                    <div class="detail-view">
                      <% for(var j = 0; j < prices[i].details.length; j++){ %>
                        <% if (prices[i].details[j].type == 'master'){ %>
                          <span class="price-detail-master center"><%= prices[i].details[j].content %></span>
                        <% }else{ %>
                          <span class="price-detail center"><%= prices[i].details[j].content %></span>
                        <% } %>
                      <% } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% } %>
        </div>
    </div>
</section>
