<!-- Making sure the web-site will scale fine on mobiles-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Trying to force IE to perform at its best-->
<meta http-equiv="x-ua-compatible" content="ie=edge">

<!-- Stylesheets-->
<link rel="stylesheet" href="<%= base %>vendors/css/diopside-min.css">

<!-- Favicons-->
<link rel="apple-touch-icon" sizes="57x57" href="<%= base %>vendors/images/logo/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="<%= base %>vendors/images/logo/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="<%= base %>vendors/images/logo/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="<%= base %>vendors/images/logo/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="<%= base %>vendors/images/logo/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="<%= base %>vendors/images/logo/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="<%= base %>vendors/images/logo/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="<%= base %>vendors/images/logo/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="<%= base %>vendors/images/logo/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="<%= base %>vendors/images/logo/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="<%= base %>vendors/images/logo/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="<%= base %>vendors/images/logo/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="<%= base %>vendors/images/logo/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="<%= base %>vendors/images/logo/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- COMMON TAGS -->
<meta charset="utf-8">
<title>جم فالو. خرید فالوور اینستاگرام، ربات اینستاگرام و افزایش فالوور اینستاگرام</title>
<!-- Search Engine -->
<meta name="description" content="جم فالو. تبلیغات هدفمند با ربات اینستاگرام جم فالو و افزایش واقعی فالوور اینستاگرام">
<meta name="image" content="http://gemfollow.net/vendors/images/logo/gmflw.jpg">
<!-- Schema.org for Google -->
<meta itemprop="name" content="جم فالو. خرید فالوور اینستاگرام، ربات اینستاگرام و افزایش فالوور اینستاگرام">
<meta itemprop="description" content="جم فالو. تبلیغات هدفمند با ربات اینستاگرام جم فالو و افزایش واقعی فالوور اینستاگرام">
<meta itemprop="image" content="http://gemfollow.net/vendors/images/logo/gmflw.jpg">
<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="جم فالو. خرید فالوور اینستاگرام، ربات اینستاگرام و افزایش فالوور اینستاگرام">
<meta name="twitter:description" content="جم فالو. تبلیغات هدفمند با ربات اینستاگرام جم فالو و افزایش واقعی فالوور اینستاگرام">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="جم فالو. خرید فالوور اینستاگرام، ربات اینستاگرام و افزایش فالوور اینستاگرام">
<meta name="og:description" content="جم فالو. تبلیغات هدفمند با ربات اینستاگرام جم فالو و افزایش واقعی فالوور اینستاگرام">
<meta name="og:image" content="http://gemfollow.net/vendors/images/logo/gmflw.jpg">
<meta name="og:url" content="gemfollow.net">
<meta name="og:site_name" content="Gem Follow">
<meta name="og:locale" content="fa_IR">
<meta name="og:type" content="website">
