<!-- Making sure the web-site will scale fine on mobiles-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Trying to force IE to perform at its best-->
<meta http-equiv="x-ua-compatible" content="ie=edge">

<!-- Stylesheets-->
<link rel="stylesheet" href="<%= base %>vendors/css/font.min.css">
<link rel="stylesheet" href="<%= base %>libs/materialize/css/materialize.min.css">
<link rel="stylesheet" href="<%= base %>libs/textillate/assets/animate.css">
<link rel="stylesheet" href="<%= base %>vendors/css/nas.min.css?v=2">
<link rel="stylesheet" href="<%= base %>libs/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="<%= base %>libs/nouislider/nouislider.css">

<% if (typeof sub != 'undefined') { %>
  <% if (sub == 'service/tokenized/scheduled/media') { %>
    <link rel="stylesheet" href="<%= base %>libs/fullcalendar/dist/fullcalendar.css">
  <% }else if (sub == 'service/tokenized/scheduled/media/upload') { %>
    <link rel="stylesheet" href="<%= base %>libs/fullcalendar/dist/fullcalendar.css">
    <link rel="stylesheet" href="<%= base %>libs/cropperjs/dist/cropper.min.css">
  <% } %>
<% } %>

<!-- Favicons-->
<link rel="icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/favicons/manifest.json">
<link rel="shortcut icon" href="favicon.ico">
<meta name="msapplication-config" content="/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<!-- COMMON TAGS -->
<meta charset="utf-8">
<title>جم فالو. خرید فالوور اینستاگرام، ربات اینستاگرام و افزایش فالوور اینستاگرام</title>
<!-- Search Engine -->
<meta name="description" content="جم فالو. تبلیغات هدفمند با ربات اینستاگرام جم فالو و افزایش واقعی فالوور اینستاگرام">
<meta name="image" content="http://gemfollow.net/vendors/images/ui/gmflw.jpg">
<!-- Schema.org for Google -->
<meta itemprop="name" content="جم فالو. خرید فالوور اینستاگرام، ربات اینستاگرام و افزایش فالوور اینستاگرام">
<meta itemprop="description" content="جم فالو. تبلیغات هدفمند با ربات اینستاگرام جم فالو و افزایش واقعی فالوور اینستاگرام">
<meta itemprop="image" content="http://gemfollow.net/vendors/images/ui/gmflw.jpg">
<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="جم فالو. خرید فالوور اینستاگرام، ربات اینستاگرام و افزایش فالوور اینستاگرام">
<meta name="twitter:description" content="جم فالو. تبلیغات هدفمند با ربات اینستاگرام جم فالو و افزایش واقعی فالوور اینستاگرام">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="جم فالو. خرید فالوور اینستاگرام، ربات اینستاگرام و افزایش فالوور اینستاگرام">
<meta name="og:description" content="جم فالو. تبلیغات هدفمند با ربات اینستاگرام جم فالو و افزایش واقعی فالوور اینستاگرام">
<meta name="og:image" content="http://gemfollow.net/vendors/images/ui/gmflw.jpg">
<meta name="og:url" content="gemfollow.net">
<meta name="og:site_name" content="Gem Follow">
<meta name="og:locale" content="fa_IR">
<meta name="og:type" content="website">
