<!DOCTYPE html>
<html dir="rtl">
  <head>
    <meta charset="utf-8">
    <%- include('heading', {base: './'}); %>
  </head>
  <body>
    <% if (currentUser != '') { %>
      <%- include('home/content', {page: 'profile-home'}); %>
    <% } else { %>
      <%- include('home/content', {page: 'home'}); %>
    <% } %>

    <%- include('footer-content', {footerMode: 'blue-purple-gradient'}); %>

    <%- include('script', {trianglesMode: 'i', base: './'}); %>
  </body>
</html>
