<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% if (sub == 'service/tokenized/scheduled/media/upload'){ %>
      <%- include('heading', {base: '../../../../../'}); %>
    <% }else if (sub == 'service/tokenized/scheduled/media'){ %>
      <%- include('heading', {base: '../../../../'}); %>
    <% }else if (sub == 'new-account' || sub == 'authorized' || sub == 'unpaid/tokenized' || sub == 'credit' || sub == 'service/tokenized') { %>
      <%- include('heading', {base: '../../../'}); %>
    <% }else if (sub == 'accounts' || sub == 'unpaid'){ %>
      <%- include('heading', {base: '../../'}); %>
    <% }else{ %>
      <%- include('heading', {base: '../'}); %>
    <% } %>
  </head>
  <body>
    <%- include('profile/content', {page: 'profile', user: currentUser, base: '../'}); %>

    <%- include('footer-content', {footerMode: 'blue-purple-gradient'}); %>

    <% if (sub == 'service/tokenized/scheduled/media/upload'){ %>
      <%- include('script', {trianglesMode: 'i', base: '../../../../../'}); %>
    <% }else if (sub == 'service/tokenized/scheduled/media'){ %>
      <%- include('script', {trianglesMode: 'i', base: '../../../../'}); %>
    <% }else if (sub == 'new-account' || sub == 'authorized' || sub == 'unpaid/tokenized' || sub == 'credit' || sub == 'service/tokenized') { %>
      <%- include('script', {trianglesMode: 'i', base: '../../../'}); %>
    <% }else if (sub == 'accounts' || sub == 'unpaid'){ %>
      <%- include('script', {trianglesMode: 'i', base: '../../'}); %>
    <% }else{ %>
      <%- include('script', {trianglesMode: 'i', base: '../'}); %>
    <% } %>
  </body>
</html>
