<div class="loading-overlay" id="loading-overlay"></div>
<!-- Pace loader-->
<div class="pace" id="pace">
    <div class="pace-activity"></div>
</div>

<%- include('../navigation', {navMode: ''}); %>

<!-- Main content-->
<main class="main indexed" id="main">
    <%- include('contents/slider'); %>

    <%- include('contents/about'); %>

    <%- include('contents/cases'); %>

    <%- include('contents/services'); %>

    <%- include('contents/stories'); %>

    <%- include('contents/price'); %>
</main>
