<!-- Main content-->
<main class="main light-bg" id="main">
  <section class="section scrollspy">
    <div class="container">
      <div class="row">
        <%- include('new-account/service-tabs'); %>

        <%- include('new-account/service-chooser'); %>

        <%- include('new-account/service-type-chooser'); %>

        <%- include('new-account/service-plan-details'); %>

        <%- include('new-account/hashtag-service-details'); %>

        <%- include('new-account/location-service-details'); %>

        <%- include('new-account/period-service-details'); %>

        <%- include('new-account/authentication-level-details'); %>

        <%- include('new-account/authorized-details'); %>

        <%- include('new-account/checkout-details'); %>

        <%- include('new-account/gateway-chooser'); %>
      </div>
    </div>
  </section>
</main>
